:root {
    --color-background: #F1F2F3;
    --color-text: #2D3C49;
    --color-accent: #6312a6;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 16px;
    font-family: 'Calibri', sans-serif;
    font-weight: 500;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-background);
    color: var(--color-text);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

.img_canvas {
    display: none;
    width: 0;
    height: 0;
}

.notification {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    z-index: 9999;
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15%;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
    position: relative;
    z-index: 60;
}

.nav_links li a:hover {
    color: var(--color-accent);
}

/*Main*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col_1 {
    margin: 5rem 15% 0;
    padding: 30px 0;
    margin-top: 5rem;
}

.col_1 h1 {
    font-size: 4.8rem;
    margin-bottom: 1.5rem;
}

.col_1_footer {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.col_1_footer p {
    font-size: 1.5rem;
}

@media (max-width: 768px) {

    html {
        font-size: 14px;
    }

    header {
        padding: 30px 1%;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .col_1 {
        margin: 2rem 0 0 0;
        text-align: center;
    }

    .form_input {
        font-size: 1.2rem;
    }

    .form_button {
        width: 100%;
        height: 44px;
        margin-top: 2rem;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }

    header {
        padding: 20px 1%;
    }

    .nav_links li {
        padding: 0 10px;
    }

    .col_1 {
        margin: 1rem 0 0 0;
    }

    .col_1 h1 {
        font-size: 2.8rem;
    }

    .form_title {
        font-size: 2rem;
    }

    .form_input {
        font-size: 1.1rem;
    }

    .form_button {
        font-size: 1.1rem;
    }
}