@model IndexViewModel

<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Animal Recognition</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo.png">
</head>
<body>
    <div id="preloader" class="preloader">
        <div class="preloader_loader">
            <div class="loader"></div>
        </div>
        <span id="percent_preloader">0 %</span>
    </div>
    <header>
        <h2 class="logo">Animal Recognition</h2>
        <nav class="header_main">
            <ul class="nav_links">
                <li><a class="btn_link" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a id="privacy" class="btn_link" href="#">Privacy</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a id="recognition" class="btn_link" href="#">Identify</a></li>
                    <li>
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            @Html.AntiForgeryToken()
                            <input id="logout" class="btn_link" type="submit" value="Log out" />
                        </form>
                    </li>
                }
                else
                {
                    <li><a id="register" class="btn_link" href="#">Register</a></li>
                    <li><a id="login" class="btn_link" href="#">Log In</a></li>
                }
            </ul>
        </nav>
        @if (User.Identity.IsAuthenticated)
        {
            <div id="button_canvas_logout" class="button_canvas">Log Out</div>
        }
        else
        {
            <div id="button_canvas_login" class="button_canvas">Log In</div>
        }
    </header>
    <main>
        <section class="container">
            <div class="col_1">
                <h1>
                    Animal
                    <br>
                    Picture
                    <br>
                    Recognition
                </h1>
                <hr>
                <div class="col_1_footer">
                    <p>Try for free</p>
                    <div id="button_canvas_detect" class="button_canvas">Identify</div>
                </div>
            </div>
            <div class="col_2">
                <div id="circle_1"><img id="circle_1_img" class="img_canvas" src="~/images/circle_background_1.png"></div>
                <div id="circle_2"><img id="circle_2_img" class="img_canvas" src="~/images/circle_background_2.png"></div>
            </div>
        </section>
    </main>

    @if (User.Identity.IsAuthenticated)
    {
        <div id="rectangle_name" class="rectangle">@User.FindFirst(ClaimTypes.Name)?.Value</div>
    }

    <partial name="../Shared/ModalWindow/_ModalWindowPrivacy.cshtml" />

    @await Html.PartialAsync("../Shared/ModalWindow/_ModalWindowRecognition.cshtml", Model.Recognition)
    
    @if (User.Identity.IsAuthenticated)
    {
        <script src="~/js/build/indexUserAuthorized.js" asp-append-version="true"></script>
    }
    else
    {
        @await Html.PartialAsync("../Shared/ModalWindow/_ModalWindowRegister.cshtml", Model.Register)
        @await Html.PartialAsync("../Shared/ModalWindow/_ModalWindowLogIn.cshtml", Model.Login)

        <div id="account_created" class="notification">
            Account created successfully.
            <br>
            To confirm your registration, please follow the link sent to
            <br>
            the email address you provided during registration.
        </div>

        <script src="~/js/build/indexUserNotAuthorized.js" asp-append-version="true"></script>
    }
</body>
</html>