.button_canvas, .rectangle {
    font-size: 1.5rem;
    height: 60px;
    opacity: 0;
}


.button_canvas {
    width: 160px;
}
.rectangle{
    padding: 0 20px;
}

#rectangle_name {
    position: absolute;
    left: 5%;
    bottom: 50%;
}

#circle_1 {
    position: fixed;
    top: 37%;
    right: 35%;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
}

#circle_2 {
    position: fixed;
    top: 25%;
    right: 15%;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
}

@media (max-width: 768px) {

    .button_canvas {
        font-size: 1.3rem;
        width: 121.6px;
        height: 45.6px;
    }

    #circle_1 {
        top: 25%;
        right: 0;
        width: 30vw;
        height: 30vw;
    }

    #circle_2 {
        top: 70%;
        left: 10%;
        width: 20vw;
        height: 20vw;
    }
}

@media (max-width: 480px) {
    .button_canvas {
        font-size: 1.2rem;
        width: 93px;
        height: 35px;
    }

    #circle_1 {
        top: 60%;
        right: 20%;
        width: 30vw;
        height: 30vw;
    }

    #circle_2 {
        top: 60%;
        left: 10%;
        width: 20vw;
        height: 20vw;
    }
}
