@keyframes preloader_loader {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 10000;
}

.preloader_loader, #percent_preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    width: 96px;
    height: 96px;
    animation: preloader_loader 0.7s linear infinite;
    border-radius: 50%;
    box-shadow: 0 3.6px 0 0 #2d3c49;
    transform-origin: 48px 48px;
    box-sizing: content-box;
}

#percent_preloader {
    font-size: 1.4rem;
    font-weight: bold;
}