@model DetectImageViewModel

<section id="modal_window_detect" class="blackout">
    <div class="modal_window">
        <div class="modal_window_container">
            <form class="form">
                <h1 class="form_title">Detect</h1>
            </form>

            <partial name="_ModalWindowClose.cshtml" />
        </div>
    </div>
</section>