@model RegisterViewModel

<section id="modal_window_register" class="blackout">
    <div class="modal_window">
        <div class="modal_window_container">
            <form method="post" asp-controller="Account" asp-action="Register" id="form_register" class="form">
                <h1 class="form_title">Register</h1>
                <div class="form_group">
                    <input asp-for="Name" class="form_input" placeholder=" ">
                    <label asp-for="Name" class="form_label"></label>
                    <span asp-validation-for="Name" class="form_error"></span>
                </div>
                <div class="form_group">
                    <input asp-for="Email" class="form_input" placeholder=" ">
                    <label asp-for="Email" class="form_label"></label>
                    <span asp-validation-for="Email" class="form_error"></span>
                </div>
                <div class="form_group">
                    <input asp-for="Password" class="form_input" placeholder=" ">
                    <label asp-for="Password" class="form_label"></label>
                    <span asp-validation-for="Password" class="form_error"></span>
                </div>
                <div class="form_group">
                    <input asp-for="PasswordConfirmed" class="form_input" placeholder=" ">
                    <label asp-for="PasswordConfirmed" class="form_label"></label>
                    <span asp-validation-for="PasswordConfirmed" class="form_error"></span>
                </div>
                <center>
                    <input type="submit" class="form_button" value="Create" />
                </center>
            </form>

            <partial name="_ModalWindowClose.cshtml" />
        </div>
    </div>
</section>