<section id="modal_window_privacy" class="blackout">
    <div class="modal_window">
        <div class="modal_window_container">
            <center>
                <h1 class="form_title">Privacy</h1>
            </center>
            <div class="content_privacy">
                <p>This project is designed to evaluate code quality.</p>
                <br />
                <p>I have not implemented features such as password recovery, user role distribution, and so on.</p>
                <br />
                <p>As I mentioned before, the project is created for code evaluation and can be improved infinitely.</p>
                <br />
                <p>After registering and verifying your account, you can use a neural network that classifies animals.</p>
                <br />
                <p>Here are all the entities it can recognize:</p>
                <br />
                <p>Ant, Bat, Bee, Bird, Butterfly, Cat, Chicken, Crab, Dog, Dragonfly, Duck, Elephant, Fish, Fox, Giraffe, Hedgehog, Horse, Hummingbird, Jellyfish, Ladybug, Lion,
                    Octopus, Parrot, Penguin, Rabbit, Shark, Squirrel, Starfish, Turtle.
                </p>
            </div>
            <partial name="_ModalWindowClose.cshtml" />
        </div>
    </div>
</section>