@model RecognitionImageViewModel

<section id="modal_window_recognition" class="blackout">
    <div class="modal_window">
        <div class="modal_window_container">
            @if (User.Identity.IsAuthenticated)
            {
                <form id="form_recognition" class="form" asp-controller="Recognition" asp-action="RecognitionImage">
                    @Html.AntiForgeryToken()
                    <h1 class="form_title">Identify</h1>

                    <img id="image_preview" class="image_input" src="~/images/image_input.png" alt="input image" />

                    <input asp-for="Image" id="image_input" type="file" accept=".jpg,.jpeg,.png">

                    <div class="form_group_send">
                        <span class="form_global_error"></span>
                        <span id="recognition_result"></span>
                        <input type="submit" class="form_button" value="Send" />
                    </div>

                    <partial name="Components/_ModalWindowComponentLoading.cshtml" />
                </form>
            }
            else
            {
                <center>
                    <h2>Account required.</h2>
                    <br>
                </center>
            }
            <partial name="Components/_ModalWindowComponentClose.cshtml" />
        </div>
    </div>
</section>