@model RegistrationViewModel

<form method="post" asp-controller="Account" asp-action="Registration">
    <input asp-for="Name" value="Name"/>
    <input asp-for="Email" value="hashasdh@mail.ru"/>
    <input asp-for="Password" value="dasjhAS2"/>
    <input asp-for="PasswordConfirmed" value="dasjhAS2" />
    <input type="submit" value="Create" />
</form>