@model RegisterViewModel

<form method="post" asp-controller="Account" asp-action="Register">
    <input asp-for="Name" value="Name"/>
    <input asp-for="Email" value="74.71.spartacus@gmail.com"/>
    <input asp-for="Password" value="dasjhAS2"/>
    <input asp-for="PasswordConfirmed" value="dasjhAS2" />
    <input type="submit" value="Create" />
</form>