<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error - Animal Recognition</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <main>
        <section class="container_error">
            <div class="content_error">
                <p class="message">An error has occurred on the server.</p>
                <h1 class="status_code">500</h1>
            </div>
        </section>
    </main>
</body>
</html>