@model IndexViewModel
@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - DetectorAnimal.Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/modal_window.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/canvas.css" asp-append-version="true" />
</head>
<body>
    <div id="preloader" class="preloader">
        <div class="preloader_loader">
            <div class="loader"></div>
        </div>
        <span id="percent_preloader">0 %</span>
    </div>
    <header>
        <h2 class="logo">Detector Animals</h2>
        <nav class="header_main">
            <ul class="nav_links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a id="register" href="#">Register</a></li>
                <li><a id="login" href="#">Log In</a></li>
            </ul>
        </nav>
        <div id="button_canvas_login" class="button_canvas"></div>
    </header>
    <main>
        <section class="container">
            <div class="col_1">
                <h1>
                    Animal
                    <br>
                    Picture
                    <br>
                    Recognition
                </h1>
                <hr>
                <div class="col_1_footer">
                    <p>Try for free</p>
                    <div id="button_canvas_detect" class="button_canvas"></div>
                </div>
            </div>
            <div class="col_2">
                <div id="circle_1"><img id="circle_1_img" class="img_canvas" src="~/images/circle_background_1.png"></div>
                <div id="circle_2"><img id="circle_2_img" class="img_canvas" src="~/images/circle_background_2.png"></div>
            </div>
        </section>
    </main>

    @await Html.PartialAsync("../Shared/ModalWindow/_ModalWindowDetect.cshtml", Model.Detect)
    @await Html.PartialAsync("../Shared/ModalWindow/_ModalWindowRegister.cshtml", Model.Register)
    @await Html.PartialAsync("../Shared/ModalWindow/_ModalWindowLogIn.cshtml", Model.Login)

    <script src="~/js/build/index.js" asp-append-version="true"></script>
</body>
</html>
